<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Spring Boot Gallery App</title>
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/style.css">
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="main_container">
	<div class="display_time">
		<div id="datetime">8:30pm</div>
	</div>
	<div class="dropdown">
		<button th:if="${#request.userPrincipal == null}"  class="btn btn-info dropdown-toggle" type="button" id="menuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Menu
		</button>
		<button th:if="${#request.userPrincipal != null}" class="btn btn-info dropdown-toggle" type="button" id="menuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			[[${#request.userPrincipal.principal.fullName}]]
		</button>
		<div class="dropdown-menu" aria-labelledby="menuButton">
			<a class="dropdown-item" th:href="@{/}">Home</a>
			<a class="dropdown-item" th:href="@{/galleries}">Galleries</a>
			<a th:if="${#request.userPrincipal != null}" class="dropdown-item" th:href="@{/settings}">Settings</a>
			<a th:if="${#request.userPrincipal == null}" class="dropdown-item" th:href="@{/login}">Sign In</a>
			<a th:if="${#request.userPrincipal != null}" class="dropdown-item" th:href="@{/logout}">Sign out</a>
		</div>
	</div>
</div>

<div class="sub_container">
	<div class="centerContent text-center">
		<div>
			<h1>Sign Up</h1>
		</div>
		<form th:action="@{/process_register}" th:object="${user}"
			  method="post" style="max-width: 600px; margin: 0 auto;" >
			  <p>
				[[${message}]]
			</p>
			<div class="m-3">
				<div class="form-group row">
				 
					<label class="col-4 col-form-label">E-mail: </label>
					<div class="col-8">
						<input type="email" th:field="*{email}" class="form-control"  />
						<p class="error"  th:errors="*{email}">Name Error</p>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">Password: </label>
					<div class="col-8">
						<input type="password" th:field="*{password}" class="form-control"
							   />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">First Name: </label>
					<div class="col-8">
						<input type="text" th:field="*{firstName}" class="form-control"
							    />
							   <p class="error"  th:errors="*{firstName}">Name Error</p>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">Last Name: </label>
					<div class="col-8">
						<input type="text" th:field="*{lastName}" class="form-control"
							    />
					</div>
				</div>

				<div>
					<p></p>
					<button type="submit" class="btn btn-primary">Sign Up</button>
				</div>
			</div>
		</form>
	</div>

</div>

<script type="text/javascript" th:src="@{/js/dropdown.js}"></script>


</body>
</html>