<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Spring Boot Gallery App</title>
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/style.css">
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="main_container">
	<div class="display_time">
		<div id="datetime">8:30pm</div>
	</div>
	<div class="dropdown">
		<button th:if="${#request.userPrincipal == null}"  class="btn btn-info dropdown-toggle" type="button" id="menuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Menu
		</button>
		<button th:if="${#request.userPrincipal != null}" class="btn btn-info dropdown-toggle" type="button" id="menuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			[[${#request.userPrincipal.principal.fullName}]]
		</button>
		<div class="dropdown-menu" aria-labelledby="menuButton">
			<a class="dropdown-item" th:href="@{/}">Home</a>
			<a class="dropdown-item" th:href="@{/galleries}">Galleries</a>
			<a th:if="${#request.userPrincipal != null}" class="dropdown-item" th:href="@{/settings}">Settings</a>
			<a th:if="${#request.userPrincipal == null}" class="dropdown-item" th:href="@{/login}">Sign In</a>
			<a th:if="${#request.userPrincipal != null}" class="dropdown-item" th:href="@{/logout}">Sign out</a>
		</div>
	</div>
</div>
<div class="subcontent">
	<h2 class="text-center">[[${#request.userPrincipal.principal.fullName}]] Photo Galleries</h2>
	<div>
		<button th:if="${galleries.size > 0}" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAllAlbumModal">
			Delete All Albums
		</button>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createAlbumModal">
			Create New Album
		</button>
	</div>
	<div class="modal fade" id="createAlbumModal" tabindex="-1" role="dialog"  aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">New Album</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form th:action="@{/gallery/create}"
						  method="post">
						<div class="form-group">
							<input id="galleryname" name="galleryname" type="text" class="form-control"
									   required minlength="2" maxlength="20" />
						</div>
						<button type="submit" class="btn btn-primary">Create</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="deleteAllAlbumModal" tabindex="-1" role="dialog"  aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteAllModalLongTitle">Delete Album</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete All Albums?</p>
				</div>
				<div class="modal-footer">
					<form method="post"
						  th:action="@{'/gallery/deleteall'}">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Yes, Delete All Albums</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="sub_container">
	<div class="lightbox-gallery centerContent">
		<div class="filterholder">
			<div>
				<form class="form-inline" method="post"
					  th:action="@{'/gallery/search'}">
					<div class="form-group mr-2">
						<label for="albumName" class="sr-only">Search</label>
						<input id="albumName" name="albumName" type="text" class="form-control"
							   required minlength="1" maxlength="20"placeholder="Search Album">
					</div>
					<button type="submit" class="btn btn-primary">Search</button>
				</form>
			</div>
			<div class="dropdown">
				<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Group By
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" th:href="@{/galleries}">By Album</a>
					<a class="dropdown-item" th:href="@{/photos}">By Photos</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="gallery" th:each="gallery: ${galleries}">
				<a th:href="@{'/gallery/' + ${gallery.getId()} + '/show'}" >
				<img  class="folder-icon img-thumbnail" src="/images/Folder-icon.png"  th:alt="${gallery.name}"></a>
				<a class="font-italic" th:href="@{'/gallery/' + ${gallery.getId()} + '/show'}" th:text="${gallery.name}" >Album 1</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" th:src="@{/js/dropdown.js}"></script>
</body>
</html>
